name: Lint

on:
  push:

jobs:
  check-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: npm ci
  
      - name: Check formatting
        run: npx prettier . --check

      - name: Fix formatting
        run: npx prettier . --write
